.task-item {
	display: flex;
	align-items: center;
	margin: 5px 0;
}

.task-item.selected {
	background: rgba(64, 64, 64, 0.3);
	border-radius: 3px;
}

.task-checkbox {
	margin-right: 10px;
}

.task-text {
	font-size: var(--font-text-size);
}

.task-completed {
	/* text-decoration: line-through; */
	font-size: var(--font-text-size);
	color: gray;
}

.search-container {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
}

.completed-tasks-checkbox {
	margin-right: 10px;
}

.link {
	text-decoration: underline;
	color: inherit;
}

.task-search-modal {
	background-color: var(--modal-background);
	border-radius: 0px;
	padding: 10px;
}

.task-search-modal .search-container {
	margin-bottom: 5px;
}

.task-search-modal .task-item {
	margin: 5px 0;
}

.full-width-input {
	width: 100%;
	box-sizing: border-box;
}

.task-count-label {
	color: gray;
	margin-left: 10px;
}
